/* Use white for logo background. */
.wy-side-nav-search {
  background-color: #fff;
}

.wy-side-nav-search > div.version {
  color: #000;
}

/* Justify the text. */

.section #basic-2-flip-flop-synchronizer{
     text-align:justify;
}
